html{
    font-family: 'Times New Roman', Times, serif;
}

body{
    margin: 0;
}

header{
    background-color: green;
    height: 50px;
}

header > h1{
    color: white;
    line-height: 120px;
    font-size: 30px;
    margin-left: 20px;
}

 section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap; 
}

section{
    display: flex;
}

article{
    background-color: gray;
    border: 2px solid white;
}


article{
    flex: 1 300px;
}

article:nth-of-type(1){
    flex: 2 300px;
}

.grid-parent-element{
    display: grid;
    grid-template-columns: auto auto auto;
   
    padding: 10px;
}

.grid-item{
  
    text-align:center;
    font-size: 30px;
    padding: 20px;

}

footer{
    background-color: black;
    color: white;
    text-align: center;
}